.modal {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 40%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px; /* this will change the popup container width */
}
.modal-body {
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.modal-footer {
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.modal-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    color: white;
    font-size: 30px;
    background: none;
    border: none;
}
.close-btn:hover {
    color: black;
    cursor: pointer;
}